<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<title>Template</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, interactive-widget=resizes-content">
		<link rel="shortcut icon" href="../common/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="../common/css/common.main.css">
		<script type="text/javascript" src="../common/js/common.main.js"></script>
	</head>
	<body>
		<main id="main-container">
			
		</main>
	</body>
</html>
